$lnz-background-color: hsla(214, 61%, 25%, 0.10);
$lnz-background-color-2: hsla(214, 61%, 25%, 0.05);
$lnz-primary-color: hsla(214, 90%, 52%, 0.95);
$lnz-font-family: "Roboto", Helvetica, Arial, sans-serif;
$lnz-font-size-s: 0.75rem;
$lnz-font-size-m: 1rem;
$lnz-icon-size-m: 1.25rem;
$lnz-size-m: 2.25rem;
$lnz-button-size: $lnz-size-m;
$lnz-border-radius: 0.25em;
$lnz-space-xs: 0.5rem;

.lnz-popup {
    max-height: 10em;
    overflow: auto;
    display: block;
    list-style-type: none;
    background-color: $lnz-background-color;
    border-radius: 0 0 0.25em 0.25em;
    border-width: 0px;
    box-sizing: border-box;
    color: $lnz-primary-color;
    cursor: pointer;
    //display: inline-block;
    font-family: $lnz-font-family;
    font-size: $lnz-font-size-m;
    //font-weight: 500;
    //height: $lnz-button-size;
    letter-spacing: .025em;
    line-height: 1.25em;
    margin: $lnz-space-xs -0.45em;
    //min-width: calc(#{$lnz-button-size} * 2);
    //padding: 0 calc(#{$lnz-button-size} / 3 + #{$lnz-border-radius} / 2);
    padding: 0px;
    width: 234px;
    outline: none;
    user-select: none;
    transition: .2s ease;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    &.lnz-off {
        // display: none;
        height: 0;
        //position: absolute;
        
    }
    &.lnz-on {
        // display: block;
        height: 100%;
        // position: absolute;
    }
    li.lnz {
        padding: .75rem .75rem;
        i {
            min-width: 22px;
            padding-right: 6px;
            font-size: $lnz-font-size-m;
        }
        &:hover {
            background-color: $lnz-background-color-2;
        }
    }
    
}
