$lnz-background-color: hsla(214, 61%, 25%, 0.15);
$lnz-background-color-2: hsla(214, 61%, 25%, 0.05);
$lnz-primary-color: hsla(214, 90%, 52%, 0.95);
$lnz-font-family: "Roboto", Helvetica, Arial, sans-serif;
$lnz-font-size-s: 0.75rem;
$lnz-font-size-m: 1rem;
$lnz-icon-size-m: 1.25rem;
$lnz-size-m: 2.25rem;
$lnz-button-size: $lnz-size-m;
$lnz-border-radius: 0.25em;
$lnz-space-xs: 0.25rem;

label.lnz {

    color: $lnz-primary-color;
    font-family: $lnz-font-family;
    font-size: $lnz-font-size-s;
    font-weight: 400;
    letter-spacing: .025em;
    line-height: 1em;
    // background-color: red;
   
    &.lnz-over {        
        span {
            &.field {
                animation: pulse-textfield 0.6s;
                animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }        
    }
    &.lnz-focus {
         span {
            &.field {
                background-position:100% 0%;
            }
         }
    }

    input[type="text"] {
        outline: none;
        border: none;
        font-family: $lnz-font-family;
        font-size: $lnz-font-size-m;
        background-color: transparent;
    } 
   

    &.lnz-disabled:before {
        color: hsla(217, 42%, 94%, 0.85); //$lnz-background-color;
        animation: none !important;
        cursor: not-allowed;
    }

    
    &.lnz-disabled {
        animation: none !important;
        color: hsla(214, 50%, 22%, 0.26);
        cursor: not-allowed;
    }

    span {
        &.name {
            display: block;
            &.empty {
                display: none;
            }
        }
        &.field {
            display: inline-block;
            background: linear-gradient(90deg, $lnz-background-color, $lnz-background-color-2);
            background-size: 400% 400%;
            padding: calc(#{$lnz-button-size} / 6 + #{$lnz-border-radius} / 2) calc(#{$lnz-button-size} / 6 + #{$lnz-border-radius} / 2);
            border-radius: $lnz-border-radius;
            margin: $lnz-space-xs 0;
        }

        span {
            margin-left: $lnz-space-xs;
        }
        div {
            color: black;
            font-weight: 300;
            margin-left: calc( #{$lnz-space-xs} * 8 );
        }
    }
}

@-webkit-keyframes pulse-textfield {
    0% {
        -webkit-box-shadow: 0 0 0 0 hsla(217, 42%, 94%, 0.85);
        transform: scale(0.85);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px hsla(217, 42%, 94%, 0.0);
        transform: scale(0.90);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 hsla(217, 42%, 94%, 0.0);
        transform: scale(0.95);
    }
}
@keyframes pulse-textfield {
    0% {
        background-position:0% 0%;
    }
    
    70% {
        background-position:70% 0%;
    }
    100% {
        background-position:100% 0%;
    }
}
